body{
    text-align: center;
}
.one{
    background-color: darksalmon;
}

.div2{
    color: darkslateblue;
}
.div3{
    color: lightpink;
}
.div4{
    color: mediumseagreen;
}

#img1{
    width: 200px;
    height: 200px;
}

#img2{
    width: 200px;
    height: 200px;
}

#img3{
    width: 200px;
    height: 200px;
}

#img4{
    width: 200px;
    height: 200px;
}

#img5{
    width: 200px;
    height: 200px;
}

#img6{
    width: 200px;
    height: 200px;
}

#img7{
    width: 200px;
    height: 200px;
}

#img8{
    width: 200px;
    height: 200px;
}

#img9{
    width: 200px;
    height: 200px;
}

#img10{
    width: 200px;
    height: 200px;
}
.div1{
    font-size: 20px;
}